.info-icon {
  padding: 1rem;
  border: solid 2px #ffc700;
  border-radius: 50%;
  color: #ffc700;
  font-size: 4rem;
  display: flex;
  width: 5rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
}
