<div class="spinner-loading-shade" *ngIf="spinnerService.isLoading | async">
  <mat-spinner color="primary" [diameter]="40"></mat-spinner>
</div>

<mat-expansion-panel class="create-user">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Create user
    </mat-panel-title>
  </mat-expansion-panel-header>

  <form [formGroup]="createUserForm" (ngSubmit)="onCreateUser()">

    <mat-form-field>
      <mat-label>{{ UserAttrsEnum.mail }}</mat-label>
      <input matInput formControlName="{{UserAttrsEnum.mail}}" type="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ UserAttrsEnum.cn }}</mat-label>
      <input matInput formControlName="{{UserAttrsEnum.cn}}" type="text">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ UserAttrsEnum.sn }}</mat-label>
      <input matInput formControlName="{{UserAttrsEnum.sn}}" type="text">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ UserAttrsEnum.userPassword }}</mat-label>
      <input matInput formControlName="{{UserAttrsEnum.userPassword}}" type="text">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ UserAttrsEnum.businessCategory }}</mat-label>
      <mat-select formControlName="{{UserAttrsEnum.businessCategory}}" multiple>
        <mat-option *ngFor="let category of getEnumValues(UserBusinessCategoriesEnum)" [value]="category">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-icon-button type="submit">
      <mat-icon>add</mat-icon>
    </button>
  </form>
</mat-expansion-panel>

<div class="table-cntr">
  <table mat-table [dataSource]="users" matSort (matSortChange)="onSortChange($event)">

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let user">
        <div class="action-buttons">
          <button mat-icon-button *ngIf="editingRowId !== user.entryUUID" (click)="startEdit(user.entryUUID)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button *ngIf="editingRowId !== user.entryUUID" (click)="onDelete(user.mail)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button *ngIf="editingRowId === user.entryUUID" (click)="saveEdit(user.mail)">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-icon-button *ngIf="editingRowId === user.entryUUID" (click)="cancelEdit()">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <!-- User Columns -->

    <ng-container matColumnDef='{{ UserAttrsEnum.mail }}'>
      <th mat-header-cell *matHeaderCellDef>
        <div class="input-sort-wrapper">
          <mat-form-field>
            <mat-label>{{ UserAttrsEnum.mail }}</mat-label>
            <input matInput type="text"
                   [(ngModel)]="mailSearchValue"
                   (keyup.enter)="searchUsers(UserAttrsEnum.mail, mailSearchValue)"
            >
            <button mat-icon-button *ngIf="mailSearchValue" matSuffix aria-label="Clear"
                    (click)="clearSearchInput()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div mat-sort-header='{{ UserAttrsEnum.mail }}'></div>
        </div>
      </th>

      <td mat-cell *matCellDef="let user" [matTooltip]="user.mail" matTooltipShowDelay="800">
        <div *ngIf="editingRowId === user.entryUUID; else viewMode">
          <mat-form-field>
            <mat-label>{{ user.mail }}</mat-label>
            <input matInput type="email"
                   [(ngModel)]="userUpdate.mail">
          </mat-form-field>
        </div>
        <ng-template #viewMode>{{ user.mail }}</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef='{{ UserAttrsEnum.cn }}'>
      <th mat-header-cell *matHeaderCellDef>
        <div class="input-sort-wrapper">
          <mat-form-field>
            <mat-label>{{ UserAttrsEnum.cn }}</mat-label>
            <input matInput type="text"
                   [(ngModel)]="cnSearchValue"
                   (keyup.enter)="searchUsers(UserAttrsEnum.cn, cnSearchValue)"
            >
            <button mat-icon-button *ngIf="cnSearchValue" matSuffix aria-label="Clear"
                    (click)="clearSearchInput()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div mat-sort-header='{{ UserAttrsEnum.cn }}'></div>
        </div>
      </th>
      <td mat-cell *matCellDef="let user" [matTooltip]="user.cn" matTooltipShowDelay="800">
        <div *ngIf="editingRowId === user.entryUUID; else viewMode">
          <mat-form-field>
            <mat-label>{{ user.cn }}</mat-label>
            <input matInput type="text"
                   [(ngModel)]="userUpdate.cn">
          </mat-form-field>
        </div>
        <ng-template #viewMode>{{ user.cn }}</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef='{{ UserAttrsEnum.sn }}'>
      <th mat-header-cell *matHeaderCellDef>
        <div class="input-sort-wrapper">
          <mat-form-field>
            <mat-label>{{ UserAttrsEnum.sn }}</mat-label>
            <input matInput type="text"
                   [(ngModel)]="snSearchValue"
                   (keyup.enter)="searchUsers(UserAttrsEnum.sn, snSearchValue)"
            >
            <button mat-icon-button *ngIf="snSearchValue" matSuffix aria-label="Clear"
                    (click)="clearSearchInput()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div mat-sort-header='{{ UserAttrsEnum.sn }}'></div>
        </div>
      </th>
      <td mat-cell *matCellDef="let user" [matTooltip]="user.sn" matTooltipShowDelay="800">
        <div *ngIf="editingRowId === user.entryUUID; else viewMode">
          <mat-form-field>
            <mat-label>{{ user.sn }}</mat-label>
            <input matInput type="text"
                   [(ngModel)]="userUpdate.sn">
          </mat-form-field>
        </div>
        <ng-template #viewMode>{{ user.sn }}</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef='{{ UserAttrsEnum.businessCategory }}'>
      <th mat-header-cell *matHeaderCellDef>
        <div class="input-sort-wrapper">
          <mat-form-field>
            <mat-label>{{ UserAttrsEnum.businessCategory }}</mat-label>
            <input matInput type="text"
                   [(ngModel)]="businessCategorySearchValue"
                   (keyup.enter)="searchUsers(UserAttrsEnum.businessCategory, businessCategorySearchValue)"
            >
            <button mat-icon-button *ngIf="businessCategorySearchValue" matSuffix aria-label="Clear"
                    (click)="clearSearchInput()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let user" [matTooltip]="user.businessCategory" matTooltipShowDelay="800">
        <div *ngIf="editingRowId === user.entryUUID; else viewMode">
          <mat-form-field>
            <mat-label>{{ user.businessCategory }}</mat-label>
            <mat-select multiple [(ngModel)]="userUpdate.businessCategory">
              <mat-option *ngFor="let category of getEnumValues(UserBusinessCategoriesEnum)" [value]="category">
                {{ category }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <ng-template #viewMode>{{ user.businessCategory }}</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef='{{UserAttrsEnum.createTimestamp}}'>
      <th mat-header-cell *matHeaderCellDef>
        <div class="input-sort-wrapper">
          <mat-form-field>
            <mat-label>{{ UserAttrsEnum.createTimestamp }}</mat-label>
            <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly
                   [(ngModel)]="createTimestampSearchValue"
                   (dateChange)="searchUsers(UserAttrsEnum.createTimestamp, createTimestampSearchValue)"
            >
            <button mat-icon-button *ngIf="createTimestampSearchValue !== ''" matSuffix aria-label="Clear"
                    (click)="clearSearchInput()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div mat-sort-header='{{ UserAttrsEnum.createTimestamp }}'></div>
        </div>
      </th>
      <td mat-cell *matCellDef="let user"> {{ user.createTimestamp | date:'M/dd/yyyy HH:mm' }}</td>
    </ng-container>

    <ng-container matColumnDef='{{ UserAttrsEnum.entryUUID }}'>
      <th mat-header-cell *matHeaderCellDef>
        <div class="input-sort-wrapper">
          <mat-form-field class="example-form-field">
            <mat-label>{{ UserAttrsEnum.entryUUID }}</mat-label>
            <input matInput type="text"
                   [(ngModel)]="entryUUIDSearchValue"
                   (keyup.enter)="searchUsers(UserAttrsEnum.entryUUID, entryUUIDSearchValue)"
            >
            <button mat-icon-button *ngIf="entryUUIDSearchValue" matSuffix aria-label="Clear"
                    (click)="clearSearchInput()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div mat-sort-header='{{ UserAttrsEnum.entryUUID }}'></div>
        </div>
      </th>
      <td mat-cell *matCellDef="let user" [matTooltip]="user.entryUUID"
          matTooltipShowDelay="800"> {{ user.entryUUID }}
      </td>
    </ng-container>

    <!-- Additional columns here -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <div class="paginator-cntr">
    <mat-paginator
      [length]="filteredUsersCount"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPaginateChange($event)"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</div>

