<div class="mat-elevation-z8">
  <table mat-table [dataSource]="users" class="mat-elevation-z8">

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button (click)="onEdit(user)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(user.mail)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- User Columns -->
    <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef>
        <input #mailInput placeholder="mail" (keyup.enter)="searchUser(UserAttrsEnum.mail, mailInput.value)"
               [value]="searchTerm === UserAttrsEnum.mail ? searchValue : ''">
      </th>
      <td mat-cell *matCellDef="let user"> {{ user.mail }}</td>
    </ng-container>
    <ng-container matColumnDef="cn">
      <th mat-header-cell *matHeaderCellDef>
        <input #cnInput placeholder="cn" (keyup.enter)="searchUser(UserAttrsEnum.cn, cnInput.value)"
               [value]="searchTerm === UserAttrsEnum.cn ? searchValue : ''">
      </th>
      <td mat-cell *matCellDef="let user"> {{ user.cn }}</td>
    </ng-container>
    <ng-container matColumnDef="sn">
      <th mat-header-cell *matHeaderCellDef>
        <input #snInput placeholder="sn" (keyup.enter)="searchUser(UserAttrsEnum.sn, snInput.value)"
               [value]="searchTerm === UserAttrsEnum.sn ? searchValue : ''">
      </th>
      <td mat-cell *matCellDef="let user"> {{ user.sn }}</td>
    </ng-container>
    <ng-container matColumnDef="businessCategory">
      <th mat-header-cell *matHeaderCellDef>
        <input #businessCategoryInput placeholder="businessCategory"
               (keyup.enter)="searchUser(UserAttrsEnum.businessCategory, businessCategoryInput.value)"
               [value]="searchTerm === UserAttrsEnum.businessCategory ? searchValue : ''">
      </th>
      <td mat-cell *matCellDef="let user"> {{ user.businessCategory }}</td>
    </ng-container>

    <!-- Additional columns here -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="filteredUsersCount"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="onPaginateChange($event)">
  </mat-paginator>
</div>