<div class="table-cntr">

  <table mat-table [dataSource]="users" matSort (matSortChange)="onSortChange($event)">

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let user">
        <div class="action-buttons">
          <button mat-icon-button (click)="onEdit(user)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="onDelete(user.mail)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <!-- User Columns -->
    <ng-container matColumnDef='{{UserAttrsEnum.createTimestamp}}'>
      <th mat-header-cell *matHeaderCellDef>
        <div class="input-sort-wrapper">
          <mat-form-field>
            <input matInput [matDatepicker]="picker"
                   placeholder="{{UserAttrsEnum.createTimestamp}}"
                   [(ngModel)]="createTimestampSearchValue"
                   (keyup.enter)="searchUsers(UserAttrsEnum.createTimestamp, createTimestampSearchValue)"
                   (dateChange)="searchUsers(UserAttrsEnum.createTimestamp, createTimestampSearchValue)"
            >
            <button mat-icon-button *ngIf="createTimestampSearchValue !== ''" matSuffix aria-label="Clear"
                    (click)="clearSearchInput()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div mat-sort-header='{{ UserAttrsEnum.createTimestamp }}'></div>
        </div>
      </th>
      <td mat-cell *matCellDef="let user"> {{ user.createTimestamp | date:'M/dd/yyyy HH:mm' }}</td>
    </ng-container>

    <ng-container matColumnDef='{{ UserAttrsEnum.entryUUID }}'>
      <th mat-header-cell *matHeaderCellDef>
        <div class="input-sort-wrapper">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder='{{ UserAttrsEnum.entryUUID }}'
                   [(ngModel)]="entryUUIDSearchValue"
                   (keyup.enter)="searchUsers(UserAttrsEnum.entryUUID, entryUUIDSearchValue)"
            >
            <button mat-icon-button *ngIf="entryUUIDSearchValue" matSuffix aria-label="Clear"
                    (click)="clearSearchInput()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div mat-sort-header='{{ UserAttrsEnum.entryUUID }}'></div>
        </div>
      </th>
      <td mat-cell *matCellDef="let user" [matTooltip]="user.entryUUID"
          matTooltipShowDelay="800"> {{ user.entryUUID }}
      </td>
    </ng-container>

    <ng-container matColumnDef='{{ UserAttrsEnum.mail }}'>
      <th mat-header-cell *matHeaderCellDef>
        <div class="input-sort-wrapper">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder='{{ UserAttrsEnum.mail }}'
                   [(ngModel)]="mailSearchValue"
                   (keyup.enter)="searchUsers(UserAttrsEnum.mail, mailSearchValue)"
            >
            <button mat-icon-button *ngIf="mailSearchValue" matSuffix aria-label="Clear"
                    (click)="clearSearchInput()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div mat-sort-header='{{ UserAttrsEnum.mail }}'></div>
        </div>
      </th>
      <td mat-cell *matCellDef="let user" [matTooltip]="user.mail"
          matTooltipShowDelay="800"> {{ user.mail }}
      </td>
    </ng-container>

    <ng-container matColumnDef='{{ UserAttrsEnum.cn }}'>
      <th mat-header-cell *matHeaderCellDef>
        <div class="input-sort-wrapper">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="{{ UserAttrsEnum.cn }}"
                   [(ngModel)]="cnSearchValue"
                   (keyup.enter)="searchUsers(UserAttrsEnum.cn, cnSearchValue)"
            >
            <button mat-icon-button *ngIf="cnSearchValue" matSuffix aria-label="Clear"
                    (click)="clearSearchInput()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div mat-sort-header='{{ UserAttrsEnum.cn }}'></div>
        </div>
      </th>
      <td mat-cell *matCellDef="let user" [matTooltip]="user.cn"
          matTooltipShowDelay="800"> {{ user.cn }}
      </td>
    </ng-container>

    <ng-container matColumnDef='{{ UserAttrsEnum.sn }}'>
      <th mat-header-cell *matHeaderCellDef>
        <div class="input-sort-wrapper">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="{{ UserAttrsEnum.sn }}"
                   [(ngModel)]="snSearchValue"
                   (keyup.enter)="searchUsers(UserAttrsEnum.sn, snSearchValue)"
            >
            <button mat-icon-button *ngIf="snSearchValue" matSuffix aria-label="Clear"
                    (click)="clearSearchInput()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div mat-sort-header='{{ UserAttrsEnum.sn }}'></div>
        </div>
      </th>
      <td mat-cell *matCellDef="let user" [matTooltip]="user.sn"
          matTooltipShowDelay="800"> {{ user.sn }}
      </td>
    </ng-container>

    <ng-container matColumnDef='{{ UserAttrsEnum.businessCategory }}'>
      <th mat-header-cell *matHeaderCellDef>
        <div class="input-sort-wrapper">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="{{ UserAttrsEnum.businessCategory }}"
                   [(ngModel)]="businessCategorySearchValue"
                   (keyup.enter)="searchUsers(UserAttrsEnum.businessCategory, businessCategorySearchValue)"
            >
            <button mat-icon-button *ngIf="businessCategorySearchValue" matSuffix aria-label="Clear"
                    (click)="clearSearchInput()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let user" [matTooltip]="user.businessCategory"
          matTooltipShowDelay="800"> {{ user.businessCategory }}
      </td>
    </ng-container>

    <!-- Additional columns here -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <div class="paginator-cntr">
    <mat-paginator
      [length]="filteredUsersCount"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPaginateChange($event)"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</div>

